$btn-color:#00A4D4;

.padding
{
	padding-top:120px;
}

.bold
{
	font-weight:1200;
}

.play-again
{
	padding: 0 0;
	margin-top:-40px;
}

.instructions-background
{
	background-image: url('../assets/images/instructions.png');
	background-size:cover;
}

.fixed-top-left-home-btn
{
	position:fixed;
	left:74px;
	top:58px;
	width:195px;
	height:80px;
	border-radius:10px;
	background-color:$btn-color;

	color:white;
	padding:20px 30px;

	font-size:30px;
	cursor:pointer;
	box-shadow: 0px 5px 0px #005682;

}

.padtop
{
	margin-top:40px;
}

.white-copy
{
	color:white;
	text-align: center;
}

.instructions-title
{
	font-size: 120px;
	padding-top:50px;
	letter-spacing: 6px;
	line-height:100px;
}

.instructions-title-image
{
	font-size: 120px;
	padding-top:200px;
	letter-spacing: 6px;
	line-height:100px;
}

.instructions
{
	font-size:48px;
	letter-spacing: 5.5px;
	width:1300px;
	margin:0 auto;
}

.subinstructions
{
	font-size:36px;
	// letter-spacing: 5.5px;
	width:1300px;
	margin:0 auto;
}

.go-to-game-btn
{
	width:400px;
	margin:0px auto;
	border-width:9px;
	padding: 15px 0px;
	line-height:70px;
	letter-spacing:2px;
	font-size:80px;
}

.touch
{
	display: block;
    margin: 0 auto;
}