$card-height: 325px;
$card-width: 250px;
$card-padding: 18px;
$cards-width: calc((#{$card-width}*5) + (#{$card-padding}*10));
$border-rad: 34px;

.fixed-score
{
  width:242px;
  height:105px;
  margin-top:10px;
  margin-left:254px;
  border-style:solid;
  border-width:9px;
  border-color:white;
  text-align:center;
  font-size:75px;
  letter-spacing: 0.15em;
  color:white;
  margin-right:20px !important;
}

.hilton-background-image
{
  height:1080px;
  width:1920px;
  position:relative;
  background-image: url('/assets/BACKGROUND/background.jpg')
}

.copy
{
  position:fixed;
  color:white;
  width:1100px;
  height:105px;
  margin-top:-104px;
  margin-left:550px;
  font-size:48px;
  line-height:55px;

}

.visible
{
  opacity:1;
  transition-duration: 1s;
  position:fixed;
  z-index:10;
}

.fixed-instruction
{
  position:fixed;
  width:1920px !important;
  height:1080px !important;
  transition-duration: 0.3s;
}

.instructions-back
{
  transition-duration: 0.3s;
  width:1920px !important;
  height:1080px !important;
  position:fixed;
  // background-color:#008FBB;
  opacity:0.8;
  background: -webkit-radial-gradient(center, ellipse cover, #16A4CE  1%, #007EA3  100%);
}

.top-right
{
  left:1650px !important;
}

.memory-background
{
  background-image: url('/assets/images/memory.png')
}

.cards
{
  width:$cards-width;
  margin: 0 auto;
  padding-top:200px;
}

.card-img
{
  border-radius: $border-rad;
  height:100%;
  width:100%;
}

//- FLIP ANIMTION
.face
{
  border-radius: $border-rad;
  box-shadow: 0px 0px 20px 0px rgba(0,100,129,0.60);
  background-color:transparent !important;
}
.flip {
  -webkit-perspective: 800;
  width: $card-width;
  height: $card-height;
  position: relative;
  margin: 0px $card-padding;
  display:inline-block;
  margin-bottom:30px;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  background: white;
  color: black;
  cursor: pointer;
}

//- END FLIP ANIMATION

.card-text
{
  font-size:12px;
}