.app
	.visible#visible(ng-click="toggleVisible(); submissionAction('click', 'action', 'user_closed_overlay')", )
		.instructions-back
		.fixed-instruction(ng-click="resetIdle()")
			.fixed-top-left-home-btn(ng-click="stopIdle(); goHome(); submissionAction('click', 'action', 'go_home')", ng-src="assets/images/btns/home.png") 
				img(ng-src="assets/ICONS/home.png") 
				.inline.btn-text  HOME
			.white-copy(ng-if="!idleBool")
				img.instructions-title-image.padtop(ng-src="assets/ICONS/memory.png", width="160px")
				.instructions-title
					b.black {{game_prompt}}
				.instructions {{instructions}}
				img.go-to-game-btn(ng-src="assets/BUTTONS/start.png", ng-click="submissionAction('click', 'action', 'user_closed_rules')")
			.white-copy(ng-show="showCopyIdle()", ng-click="resetIdle()")
				img.instructions-title-image.idle-image(ng-src="assets/ICONS/clock.png", ng-click="resetIdle()")
				.instructions Are you still there? Touch anywhere to keep playing.
				.subinstructions The screen will go back home in {{countdown}}.
	.hilton-background-image(ng-click="resetIdle()")
		.fixed-top-left-home-btn(ng-click="stopIdle(); goHome(); submissionAction('click', 'action', 'go_home')", ng-src="assets/images/btns/home.png") 
			img(ng-src="assets/ICONS/home.png") 
			.inline.btn-text  HOME 
		.fixed-top-left-home-btn.top-right(ng-click="toggleVisible()", ng-src="assets/images/btns/home.png") 
			img.inline(ng-src="assets/ICONS/rules.png") 
			.inline.btn-text(ng-click="submissionAction('click', 'action', 'rules')")  RULES
		.cards
			.flip(ng-repeat="card in cards track by $index")
				.card(id="{{$index}}", ng-click="cardFlipped($index); submissionAction('click', 'action', 'card_flipped')")
					.face.front
						img.card-img(src="assets/CARDS/verso.jpg")
					.face.back
						img.card-img(ng-src="{{cardImages.images[card.id]}}")
		.fixed-score(ng-hide="score === 0")
			| {{score}}/5
		.copy(ng-hide="score === 0")
			| {{copy}}