.app
	.hilton-background-image
		.white-copy.padding
			img(ng-src="assets/ICONS/thumbup.png")
			.instructions-title
				b.black GREAT JOB!
			img.play-again(ng-src="assets/BUTTONS/playagain.png", ng-click="playAgain()")
			.instructions.win
				.black READY FOR A REAL ESCAPE?
			.instructions.win
				.black STOP CLICKING AROUND AND START EXPLORING.
		.fixed-top-left-home-btn(ng-click="goHome()", ng-src="assets/images/btns/home.png") 
			img(ng-src="assets/ICONS/rules.png") 
			.inline.btn-text HOME