.app
	.hilton-background.blue-gradient
		.col-3(ui-sref="instructions({game: 'memory'})")
			| Memory Game
		.col-3(ui-sref="instructions({game: 'difference'})")
			| Spot The Difference
		.col-3(ui-sref="instructions({game: 'hidden'})")
			| Hidden Objects