.app
	.visible#visible
		.instructions-back
		.fixed-instruction
			.fixed-top-left-home-btn(ui-sref="root.home", ng-src="/assets/images/btns/home.png") 
				img(ng-src="/assets/images/btns/return-home.png") 
				|  HOME 
			.white-copy
				.instructions-title {{game_prompt}}
				.instructions {{instructions}}
				.go-to-game-btn(ng-click="toggleVisible()") START!
	.hilton-background.blue-gradient.difference-background
		.fixed-top-left-home-btn(ui-sref="root.home", ng-src="/assets/images/btns/home.png") 
			img(ng-src="/assets/images/btns/return-home.png") 
			|  HOME 
		.fixed-top-left-home-btn.top-right(ng-click="toggleVisible()", ng-src="/assets/images/btns/home.png") 
			img(ng-src="/assets/images/btns/return-home.png") 
			|  RULES
		.score {{score}}/10
		.images
			img.left-picture.picture(ng-src="/assets/images/difference/diff.png")
			img.picture(ng-src="/assets/images/difference/diff.png")