.app
	.hilton-background.blue-gradient
		.cards
			.flip(ng-repeat="card in cards track by $index")
				.card(id="{{$index}}", ng-click="cardFlipped($index)")
					.face.front
						img.card-img(src="assets/images/cards/front.png")
					.face.back
						img.card-img(ng-src="{{images[card.id]}}")