.app
	.visible#visible
		.instructions-back
		.fixed-instruction
			.fixed-top-left-home-btn(ui-sref="root.home", ng-src="/assets/images/btns/home.png") 
				img(ng-src="/assets/images/btns/return-home.png") 
				|  HOME 
			.white-copy
				.instructions-title {{game_prompt}}
				.instructions {{instructions}}
				.go-to-game-btn(ng-click="toggleVisible()") START!
	.hilton-background.blue-gradient.hidden-background
		.fixed-top-left-home-btn(ui-sref="root.home", ng-src="/assets/images/btns/home.png") 
			img(ng-src="/assets/images/btns/return-home.png") 
			|  HOME 
		.fixed-top-left-home-btn.top-right(ng-click="toggleVisible()", ng-src="/assets/images/btns/home.png") 
			img(ng-src="/assets/images/btns/return-home.png") 
			|  RULES
		.found-col
			img.found-img(ng-src="/assets/images/hidden/found.png")
			img.found-img(ng-src="/assets/images/hidden/found.png")
			img.found-img(ng-src="/assets/images/hidden/found.png")
			img.found-img(ng-src="/assets/images/hidden/found.png")
			img.found-img(ng-src="/assets/images/hidden/found.png")
		img.search-image(ng-src="/assets/images/hidden/search.png")