.app
	.hilton-background.blue-gradient
		.instructions-title INSTRUCTIONS
		.instructions {{instructions}}
		button.go-to-game-btn(ng-click="goToGame()") TAP TO BEGIN
		button.back-btn <-
		.back-text(ui-sref="root.home") BACK